{% extends 'base.html' %}
{% block title %}プロフィール{% endblock %}

{% block contents %}
{% comment %} <form  method="post" class="p-4 m-4 bg-light border border-success rounded form-group">
    {{ form.non_field_errors }}
    {% for field in form %}
    <div class="form-group">
        <label>{{ field.label_tag }}</label>
        {{ field }}
        {{ field.errors }}
    </div>
    {% endfor %}
    {% csrf_token %}
        <button type="submit" class="btn btn-success mt-2">変更する</button>
        <a href="{% url 'accounts:user_profile' %}" class="btn btn-secondary mt-2">戻る</a>
</form> {% endcomment %}


<form  method="post" class="p-4 m-4 bg-light border border-success rounded form-group">
    {{ form.non_field_errors }}
    <h6>{{ form.as_p }}</h6>
    {% csrf_token %}
        <button type="submit" class="btn btn-success mt-2">変更する</button>
        <a href="{% url 'accounts:user_profile' %}" class="btn btn-secondary mt-2">戻る</a>
</form>

{% endblock %}
